/* Navbar */
#logo{
   height: 100%;
   overflow: hidden;
   width: 100%;
}

nav {
   background-color: #062469;
   color: white;
   font-weight: 500;
   height: 70px;
}

body {
   background-color: rgb(1, 33, 105, 0.3); 
   z-index: -1;
}


.body-padding{
   padding: 0 20px 0 20px;
}

/****************** Home Image  *************/

/* Hero Image  */
.hero-image-outer{
  height: 350px;
  width: 100%;
} 
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/heroimage.jpg");
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  /* Cabinet Member Profile Card and Picture */
.cabinet-title{
   font-family: 'Times New Roman', Times, sans-serif;
}
  
.flex-box-cab {
   display: flex;
   justify-content: center;
}

.image-container {
   padding: 10px 10px 0px 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cabinet-image {
   width: 360px;
   height: 480px;
   border-style: groove;
   border-color: #C8102E;
}

.cabinet-image:hover,
.cabinet-image:focus {
   opacity: 0.7;
   transform: scale(1.05);
}

 /* Cabinet Member Profile Text Content */

.cab-role{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size: 16px;
    text-align: center;
    text-shadow: blue;
 }

 .cab-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding: 10px 0px 10px 0px;
 }

 .cab-constituency{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px ;
    text-align: center;
 }

 .flex-box-buttons{
   display: flex;
   justify-content:flex-end
}

/* Font Awesome Icons */

.edit-icon{
   background-color: #062469;
   color: whitesmoke;
}

.edit-icon:hover{
   background-color: whitesmoke;
   color: #062469;
}

.delete-icon{
   background-color: #C8102E;
   color: whitesmoke;
}

.delete-icon:hover{
   background-color: whitesmoke;
   color: #C8102E;
}