<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Lora:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon-UK.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>MyGov</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo"><img id="logo" src="{{ url_for('static', filename='images/UKGov1.png') }}"></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('cabinet') }}">Cabinet</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <!-- Mobile Navbar -->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('cabinet') }}">Cabinet</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
          </ul>
    </header>

    <!-- flash messages -->
    <div id="flash-message">
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                    <p style="background-color: #062469 !important; color: white !important; font-size: 24px !important;" class="center-align">{{ message }}    <i class="fa-solid fa-x" id="flashx" onclick="removeFlash()"></i></p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div>
        {% block homepage %}
        {% endblock %}
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7a0e83662f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>