{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row" style="padding-top: 30px">
        <div class="row" style="padding-top: 30px">
            <div class="card mycard" style="padding-top: 20px">
                <div class="col s12" id="cab-photo-outer">
                    <img id="cabphoto" src="" alt="Photo of Cabinet Member">
                </div>
                <div class="card-content">
                    <div class=" col s12" style="margin:0 auto">
                        <div class="" id="synopsis">
                            <h5>Profile</h5>
                        </div>
                    </div>
                    <div class="row" style="margin:0 auto">
                        <div class="col s12">
                            <h5>Recent Voting Record</h5>
                            <ul id="votes"></ul>
                        </div>
                    </div>
                    <div class="row" class="centre-align flex-box-buttons">
                        <div class="col s12">
                            <a href="{{ url_for('cabinet') }}"
                                class="btn-large grey lighten-1 text-shadow minister-form-buttons">
                                <i class="fa-solid fa-arrow-left-long"></i> Back to The Cabinet
                            </a>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 30px">
                        <div class="col s12 right-align">
                            <small>Data provided from <a href="https://members-api.parliament.uk/index.html" style="color: black;" target="_blank">https://members-api.parliament.uk/index.html</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/cabinet_member.js') }}"></script>
{% endblock %}