{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="row center-align cabinet-title">
    <h1 class="cabinet-title">The Cabinet</h1>
    <h5>This list details those MPs of the House of Commons that hold a government post, their position and
        constituency.</h5>
</div>

<!-- Modal Triggers for Add Cabinet members-->
{% if session.user  %}
<div class="row">
    <div class="col s12 flex-box-buttons">
        <a class="btn minister-form-buttons green darken-4" tabindex="1" onclick="$('#modal1').modal('open');">Add New Cabinet Minister <i class="fas fa-plus-square right"></i></a> 
    </div>    
</div>
{% else %}
<div class="row">
    <div class="col-s12">
        <p class="center-align" style="font-size: 16px">
            In order to make updates to the cabinet, you need to <a href="{{ url_for('login') }}"
                class="light-blue-text text-darken-4">Log In!</a>
            <br>Not registered? <a href="{{ url_for('signup') }}" class="light-blue-text text-darken-4">Sign Up Now!</a>
        </p>
    </div>
</div>
{% endif %}

<!-- Cabinet Members -->
<div class="row">
    {% for cab in cabinet %}
    <div class="col s12 m5 l4 " id="adjust">
        <div class="profile-box">
            <div class="image-container">
                <a href="{{ url_for('cabinet_member', cab_name=cab.first_name+' '+cab.last_name) }}">
                    <img class="cabinet-image" src="{{ cab.profile_pic }}"
                        title="{{ cab.first_name.capitalize() }} {{ cab.last_name.capitalize() }}"
                        alt="Portrait Photo of {{ cab.first_name.capitalize() }} {{ cab.last_name.capitalize() }}">
                </a>
            </div>
            <div class="cab-role container">{{ cab.role.title() }}</div>
            <div class="cab-name">{{ cab.first_name.title() }} {{ cab.last_name.title() }}</div>
            <div class="cab-constituency">MP for {{ cab.constituency.title() }}</div>
            <div class="center-align">
                {% if session.user  %}
                <a class="btn edit-icon" href="{{ url_for('edit_minister', cab_id=cab._id) }}"><i
                        class="fa-solid fa-pen-to-square "></i></a>
                <a class="btn delete-icon" href="{{ url_for('delete_minister', cab_id=cab._id) }}"><i
                        class="fa-solid fa-trash "></i></a>
                {% endif %}
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Modal Structure for Add Member-->

<div id="modal1" class="modal mymodal">
    <div class="modal-content form-style">
        <h4>Add a Cabinet Member</h4>
        <p>Use the below form to add in a new cabinet member.</p>
        <div>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_minister') }}">
                    <!----------- First Name ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="First Name" name="first_name" id="first_name" type="text"
                                class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                    </div>
                    <!----------- Last Name ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate"
                                required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <!----------- Minsterial Role ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Ministerial Role" name="role"  id="role" type="text" class="validate"
                                required>
                            <label for="role">Ministerial Role</label>
                        </div>
                    </div>
                    <!----------- Constituency ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Constituency" name="constituency" id="constituency" type="text"
                                class="validate" required>
                            <label for="constituency">Constituency</label>
                        </div>
                    </div>
                    <!----------- Profile Picutre ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="URL for Profile Picture" name="profile_pic" id="profile_pic" type="text"
                                class="validate">
                            <label for="profile_pic">Profile Picture (URL)</label>
                        </div>
                    </div>
                    <!----------- Submit and Cancel Buttons ------------>
                    <div class="row">
                        <div class="col s12 center-align flex-box-buttons">
                            <a onclick="$('#modal1').modal('close');" class="btn-large red darken-1 text-shadow minister-form-buttons">
                                Cancel <i class="fas fa-plus-cancel right"></i>
                            </a>
                            <button  type="submit" class="btn-large green darken-1 text-shadow minister-form-buttons">
                                Add Minister <i class="fas fa-plus-square right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}