{% extends "base.html" %}
{% block content %}


<div class="center-align container">
    <div class="delete-form-style">
        <h4>Delete a Cabinet Member</h4>
        <p>Are you sure you want to delete the record for <b>{{cab.first_name.capitalize()}}
                {{cab.last_name.capitalize() }}?</b>.</p>
        <div>
            <div class="row">
                <form class="col s12" method="post" action="{{ url_for('delete_minister', cab_id=cab._id) }}">
                    <fieldset disabled="disabled">
                        <!----------- First Name ------------>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ cab.first_name.capitalize() }}" placeholder="First Name"
                                    name="first_name" id="first_name" type="text" class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>
                        </div>
                        <!----------- Last Name ------------>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ cab.last_name.capitalize() }}" placeholder="Last Name" name="last_name"
                                    id="last_name" type="text" class="validate" required>
                                <label for="last_name"></label>
                            </div>
                        </div>
                        <!----------- Minsterial Role ------------>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ cab.role.title() }}" placeholder="Ministerial Role" name="role"
                                    id="role" type="text" class="validate" required>
                                <label for="role">Ministerial Role</label>
                            </div>
                        </div>
                        <!----------- Constituency ------------>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ cab.constituency.title() }}" placeholder="Constituency"
                                    name="constituency" id="constituency" type="text" class="validate" required>
                                <label for="constituency">Constituency</label>
                            </div>
                        </div>
                        <!----------- Profile Picutre ------------>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ cab.profile_pic }}" placeholder="URL for Profile Picture"
                                    name="profile_pic" id="profile_pic" type="text" class="validate">
                                <label for="profile_pic">Profile Picture (URL)</label>
                            </div>
                        </div>
                    </fieldset>
                        <!----------- Submit and Cancel Buttons ------------>
                        <div class="row">
                            <div class="col s12 center-align flex-box-buttons">
                                <a href="{{ url_for('cabinet') }}"
                                    class="btn-large grey lighten-1 text-shadow minister-form-buttons">
                                    Cancel <i class="fas fa-plus-cancel right"></i>
                                </a>
                                <button type="submit" class="btn-large red accent-4 text-shadow minister-form-buttons">
                                    Delete <i class="fa-solid fa-trash "></i></button>
                                </a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}